{
   margin: 0px;
   padding: 0px; 
}

body {
    background: #4444;
    color: #ffff;
}

#contenedor {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background:url("1.jpg");
}

header {
	font-family: "times new roman", times, serif;
	color: blue;
    height: 150px;
    background:url("Scarface.jpg");
    border-radius: 20px;
}

header h1 {
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}

nav {
    background: url ("2.jpg");
    height: 60px;
}

nav h2 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

#coontenido {
    width: 700px;
    height: 500px;
    float: left;
    background: url("4.jpg");
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#coontenido h2 {
    font-size: 40px;
    text-align: center;
    line-height: 500px;  
}

aside {
    width: 250px;
    height: 500px;
    background: url:"Codigos Basicos De HTML/1.jpg";
    margin-top: 10px;
    float: right;
}

aside h2 {
    font-size: 40px;
    text-align: center;
    line-height: 500px;  
}

footer {
    background: black;
    clear: both; 
}

footer h2 {
	font-family: "times new roman",times, serif;
	color: red;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}